<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="/book_images/${book.id}.jpeg" alt="${book.title} coverart" width="150px" height="200px">
    <br>
    <h3>
    Info about ${book.title}
    <br>
    Author: ${book.author}
    <br>
    Released: ${book.publish_date}
    <br>
    Description: ${book.description}
    </h3>
</body>
</html>