<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <img class="icon-signIn" src="http://www.clker.com/cliparts/w/A/H/p/3/G/library-logo-md.png" alt="">
        <p>Username</p>
        <input type="text">
        <p>Password</p>
        <input type="text">
        <input type="checkbox">Remember me</input>
        <a href="/allbooks"><button>Login</button></a>
    </div>
</body>
</html>