<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../css/landing.css">
</head>
<body>
  <div class="main-container">
    <div class="profile-container">
        <div class="profile-content">
            <img class="icon" src="https://static.vecteezy.com/system/resources/thumbnails/005/544/718/small/profile-icon-design-free-vector.jpg" alt="">
            <p class="profile-name">Welcome, ${user.firstName}!</p>
            <p class="favorites"><a href="/favorites/${user.id}">My Favorite Books</a></p>
        </div>
    </div>
    <div class="book-container">
    </div>
  </div>
  <script src="/scripts/landing.js"></script>
</body>
</html>
