<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/ourAmazingBookStore/public/css/landing.css">
</head>
<body>

    <div class="profile-container">
        <div class="profile-content">
            <img class="icon" src="https://static.vecteezy.com/system/resources/thumbnails/005/544/718/small/profile-icon-design-free-vector.jpg" alt="">
            <p class="profile-name">Bobby Brown</p>
        </div>
        <div class="profile-side-bar">
            <ul>
                <li>Username</li>
                <li></li>
                <li>Favorite books</li>
            </ul>
        </div>
    </div>

    <div class="book-container">
            <div class="card" style="width: 18rem;">
                <img src="http://via.placeholder.com/200" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button>Read</button>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="http://via.placeholder.com/200" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button>Read</button>
                </div>
              </div>
              <div class="card book1" style="width: 18rem;">
                <img src="http://via.placeholder.com/200" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button>Read</button>
                </div>
              </div>
    </div>
</body>
</html>
